<h1>Check out different gateways & adapters</h1>

⚡️Server is running at <%expressUrl%>

  <h2>In Memory</h2>

  <ul>
    <li><a href="http://localhost:3001/orderAdapterInMemory1/order1">adapter1</a></li>
    <li><a href="http://localhost:3001/orderAdapterInMemory2/order1">adapter2</a></li>
  </ul>

  <h2>Json-Server</h2>

  <ul>
    <li><a href="http://localhost:3001/orderAdapterJsonServer1/order1">adapter1</a></li>
    <li><a href="http://localhost:3001/orderAdapterJsonServer2/order1">adapter2</a></li>
  </ul>
